body {
    margin: 0;
    padding: 0;
}

.login-container {
    /* centrare */
    display: flex;
    justify-content: center;
    align-items: center;

    /* marimea originala a userului de la display */
    height: 100vh;
    width: 100vw;

    /* elimina borderul default */
    box-sizing: border-box;

    animation: changeColor 0.06s infinite;
}

.login-inner-container {
    width: 55vw;
    max-width: 900px;
    height: 70vh;
    max-height: 600px;

    padding: 2.5rem;

    background-color: rgb(217, 255, 28);
    border-radius: 12px;
    text-align: center;

    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-title {
    margin-top: 2vh;
    font-size: 35px;
}

.email-input, .password-input {
    width: 70%;
    height: 50px;
    border-radius: 2rem;
    border:  gray outset;
}